<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <div class="header-left">
        <div class="menu-container">
            <img src="/frontend/icons/menu.png" alt="Menu-icon">
            <span>Menu</span>
        </div>
        <div class="search-container">
            <img src="/frontend/icons/search.png" alt="search-icon">
        </div>
    </div>
    <div class="logo">
        <h1>Luce Preziosa</h1>
    </div>
    <div class="header-right">
        <img src="/frontend/icons/person.png" alt="person-icon">
        <img src="/frontend/icons/favorite.png" alt="favorite-icon">
        <img src="/frontend/icons/shopping_bag.png" alt="shopping_bag-icon">
    </div>
    </header>
    <main></main>
    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3>Luce Preziosa</h3>
                <p>La beauté de la lumière dans chaque détail</p>
            </div>
            <div class="footer-column">
                <h3>Liens</h3>
                <ul>
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Collections</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Service Client</h3>
                <ul>
                    <li><a href="#">Livraison</a></li>
                    <li><a href="#">Retours</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Newsletter</h3>
                <div class="newsletter-form">
                    <input type="email" placeholder="Votre email">
                    <button>S'abonner</button>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 Luce Preziosa. Tous droits réservés.</p>
        </div>
    </footer>

</body>

</html>