<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/shoppingCart.css">
    <title>Panier</title>
</head>

<body>
    <header>
        <h1>Votre Panier</h1>
    </header>
    <main>
        <div id="cart-container">
            <!-- Les éléments du panier seront affichés ici -->
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Luce Preziosa. Tous droits réservés.</p>
    </footer>
    <script src="../js/shoppingCart.js"></script>
</body>

</html>